    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>This is for my Katie</h2>
              <br/>
                <p>I never believed in these long monologues about love:</p>
                <p>---------</p>
                <p>Some of us get dipped in flat, </p>
                <p>some in satin,</p>
                <p>some in gloss.</p>
                <p>But every once in a while you find someone who is iridescent,</p>
                <p>and when you do,</p>
                <p>nothing will ever compare.</p>
                <p>---------</p>
                <p>Utill the day I met you.</p>
                <br/>
              </div>
        </div>
    </section>
